{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
        Biblioteca web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
        <img src="../static/assets/pexels-pixabay-159711 (1).jpg" alt="Libros de estanteria">
    {% endblock %}

{% endblock %}


