{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App - Editar Países
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <h2>Edicion de nombre del pais</h2>
            <br>
                {% for pais in datos %}
                <form action="{{ url_for('update2_pais',nombrepais=pais[1],idpais=pais[0]), }}" method="post"></form>
                    <input type="hidden" name="id" value="{{pais[0]}}">
                    <label for="nombre">Nombre del pais</label>
                    <input type="text" name="nombre" value="{{pais[1]}}">
                    <input type="submit" value="Actualizar">
                    <a href="{{url_for('index')}}">Cancelar</a>
                </form>
                {% endfor %}
        </div>
    {% endblock %}
    {% endblock %}