<nav class="navbar  navbar-inverse mi-nav" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">INICIAR SECION </a>
            <a class="nav-link active" aria-current="page" href="#">LIBROS </a>
            <a class="nav-link" href="#">AUTORES </a>
            <a class="nav-link" href="#">PAISES </a>
            <a class="nav-link disabled" aria-disabled="true">EDITORIAL </a>
          </li>
        </div>
      </div>
    </div>
  </nav>