{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}
            Biblioteca Web App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/style/style.css">
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}

    {% block content %}
        <div class="container-fluid">
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID del país</th>
                        <th scope="col">País</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pais in datos %}
                        <tr>
                            <td>{{ pais[0] }}</td>
                            <td>{{ pais[1] }}</td>
                            <td>
                                <form action="{{ url_for('update1_pais', id_pais=pais[0]) }}" method="post">
                                    <button type="submit" class="btn btn-primary">
                                        Editar
                                    </button>
                                </form>
                                <form action="{{ url_for('delete_pais', id_pais=pais[0]) }}" method="post">
                                    <button type="submit" class="btn btn-danger">
                                        Eliminar
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}
